{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %}
    
    {% endblock extra_css %}

    <link rel="stylesheet" href=  "{% static 'css/home.css' %} ">
    <title>{% block title %}Home Page{% endblock title %} </title>
</head>
<body>
    <div class="nav">
        <div class="text">
            <ul>
                <li>Karkhano Market,</li>
                <li>Peshawar,</li>
                <li>KPK</li>
            </ul>
            <div class="follow-container">
                <h5>Follow us:</h5>
                <a href="https://www.facebook.com/share/14hfTV5ZSv/"><img src="{% static 'icon/facebook.png' %}" alt="Facebook"></a>
                <a href="https://vt.tiktok.com/ZSMwPebFs/"><img src=" {% static 'icon/ticktok.png' %} " alt="TikTok"></a>
            </div>

            <div class="follow-container">
                <h5>Login:</h5>
                <a href="Login form.html"><img src="{% static 'icon/login.png' %} "></a>

            </div>
        </div>
    </div>

    <!-- Navigation Menu -->
    <div class="menu">
        <div class="logo">
            <img src="{% static 'images/logo.png' %} " alt="Electrogenics Logo">
        </div>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'product' %}">Products</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="vedio.html">Videos</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </div>

    {% block content %}
    
    {% endblock content %}

    <div class="foot">
        <div class="subfoot">
            <h3>Information</h3>
            <p>Leaders in electronic systems design, development, and manufacturing since 2005.</p>
        </div>
        <div class="links">
            <h3>Useful Links</h3>
            <ul>
                <li><a href="AboutUs.html">About Muxtronics</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="invertor.html">Products</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
