.barber-description span,
.barber-description h2 span,
.barber-list-1 h4,
.about-us span,
.featured-sub span,
.nav-icon, 
.product-box .featured-area h2:hover a,
.woocommerce-info::before,
.woocommerce-form-coupon-toggle .woocommerce-info a ,
a.wp-block-latest-comments__comment-author,
.wp-block-latest-comments__comment-date,
.wp-block-latest-posts.wp-block-latest-posts__list time,
.text-color,
.user-content h3:hover,
.wiget-hover a:hover,
.wp-block-search .wp-block-search__button:hover,
.barber-hipster h1 a:hover,
.service-prices a:hover,
.review-box:hover a,
.order-info h4:hover a,
.profile-info > a,
.product-detail .woocommerce-product-rating a,
.review-info-inner i,
.woocommerce p.stars a::before,
.entry-summary .product_meta span,
.post-detail-wrap ul li a:hover,
.hamburger-navigation-active .hamburger-navigation li.active > a
table.group_table tr label a,
span.price bdi, span.price bdi span,
.widget > ul li > a:hover,
.wp-block-archives li > a:hover::before,
 span.wp-calendar-nav-prev a:hover,
.widget > ul li > a:hover::before,
#monster-widget-placeholder-10 span,
.genrl-sidebar form button:hover i ,
footer form button:hover i,
.menu li a:hover,
.post-meta-2 time:hover,
.menu li a:hover::before,
.is-style-outline>.wp-block-button__link:not(.has-text-color),
code,
.comment-titles > span,
.tag-embeds-2 .post-detail ol li a,
.blog-tags a:hover,
.comment-inner td a,
.tag-markup-2 th a,
.tag-image figcaption a,
form p a,
.widget .tagcloud > a:hover,
.calendar_wrap .wp-calendar-table td a,
.blog-cat a,
.blog-cat,
.genrl-sidebar nav.wp-calendar-nav a:hover,
.header-style-2 li .sub-menu li a:hover,
.header-style-2 .genrl-menu li.active > a,
.dastak-forms-builder .close-btn span i:hover,
.wp-block-tag-cloud .tag-cloud-link:hover,
.breadcrumb-item a,
.barber-hipster h1 a:hover,
.woocommerce-MyAccount-navigation ul li a:hover,
.woocommerce-MyAccount-content a,
p.woocommerce-LostPassword.lost_password a:hover,
.hc-login-form p a:hover,
.hc-service-wrap.style1 h3.hc-title:hover,
.woocommerce-message::before,
form.woocommerce-cart-form table.shop_table tbody tr td.product-name a:hover,
.error-content form button:hover,
.genrl-footer .widget li a.rsswidget,
.form-icon button:hover i,
.comment-inner a,
blockquote a,
p a,
table a,
dd a,
.header-style-3 .hamburger-navigation li .sub-menu li a:hover,
.post-meta-2 time, 
.post-detail-wrap .post-meta-2 ul li a,
#respond a 
{
	color: var(--dastak-primary-color);
}
.bg-light-color{
	background-color: #f7f8fa;
}
.theme-black-color{
	color: #332b23 !important;
}
.pagination li:first-child a,
.pagination li:hover a,
.pagination li:last-child:hover a,
.register-now, 
.theme-btn-2,
.bg-dark-color,
.barber-fix:before,
.barber-fig:hover .ryan-description,
.theme-btn-2,
.img-hover-2:before,
form.woocommerce-cart-form .cart thead,
form.woocommerce-cart-form table.shop_table tr.cart_item td.product-quantity .quantity .input-group span.input-group-btn button.btn,
.cart_totals .wc-proceed-to-checkout .checkout-button,
form.woocommerce-cart-form table.shop_table tbody tr td.actions button.button,
.checkout .woocommerce-checkout-review-order table.shop_table tfoot tr.order-total,
.woocommerce-checkout-review-order .place-order button,
.header-style-1 .genrl-menu > li > a:after,
.features-product .button:hover,
.shop-1 span,
.data-table thead tr th,
.products span.onsale,
.wp-calendar-table tbody td#today,
.wp-calendar-table caption,
.featured-main .slick-prev:hover:before,
.featured-main .slick-next:hover:before,
.pagination li a:focus,
.alert-info .progress-bar,
.wp-block-tag-cloud .tag-cloud-link,
.woocommerce a.button:hover,
.woocommerce-MyAccount-content a.button:hover, 
.woocommerce-MyAccount-content button:hover,
a.button:hover,
.product-box a.added_to_cart:hover,
.featured-main .slick-prev:before, 
.featured-main .slick-next:before,
.hc-product-item > div.position-relative:before,
.hc-product-item .webinane-add-to-cart-wrap a.added_to_cart,
.woocommerce-MyAccount-navigation ul li.is-active,
.woocommerce-account .addresses .title .edit:hover,
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit:hover,
.woocommerce .woocommerce-message .button,
.error-content form button,
.form-icon button,
#wba_popup.modal .team-table .wba-step-row .wba-step-col .wba-time-slots a.active,
.woocommerce span.onsale,
p.post-nav-links span.current,
p.post-nav-links a:hover
{
	background-color: var(--dastak-primary-color) !important;
}
.genrl-sidebar form button,.tagcloud > a, .page-numbers.current ,a.reply,form.post-password-form > p > input:hover,.wp-block-tag-cloud .tag-cloud-link:hover, .wp-block-search .wp-block-search__button,footer form button, .blog-tags a, .wp-block-button__link, .wp-block-calendar tbody td :before, .widget_calendar tbody td :before 
{
	background-color: var(--dastak-primary-color);
}
.blog-tags a:hover,
.main-img, .woocommerce-info,
.blog-tags a,a.comment-reply-link,.wp-block-button__link,
.wp-block-search .wp-block-search__button:hover, 
.genrl-sidebar form button:hover,
footer form button,
footer form button:hover,
.widget .tagcloud > a:hover, 
.genrl-sidebar form button,
.alert-info,
.wp-block-tag-cloud .tag-cloud-link,
.woocommerce-MyAccount-content a.button, 
.woocommerce-MyAccount-content button,
.woocommerce-account .addresses .title .edit,
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit,
.woocommerce-message,
form.woocommerce-cart-form table.shop_table tr.cart_item td.product-quantity .quantity .input-group span.input-group-btn button.btn,
.comment-form-comment .form-control:focus,
.error-content form button,
.form-control:focus,
.form-icon button,
#wba_popup.modal .team-table .wba-step-row .wba-step-col .wba-time-slots a,
.header-style-1 .genrl-menu > li.menu-item-has-children:hover ul.sub-menu ul.sub-menu {
	border-color: var(--dastak-primary-color) !important;
}